.profile__info {
    max-width: calc(100% - 346px);
    display: grid;
    grid-template-columns: 2fr max-content;
    justify-content: center;
    padding-left: 30px;
    height: 100%;
    gap: 10px 18px;
    position: relative;
}

@media screen and (max-width: 710px) {
    .profile__info {
        max-width: 100%;
        padding-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .profile__info {
        gap: 10px 10px;
    }
}