.popup__content-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    padding-bottom: 55px;
}

@media screen and (max-width: 600px) {
    .popup__content-title {
        font-size: 18px;
        line-height: 22px;
    }
}